/* adding the background images */
.banner{
    background: linear-gradient(180deg, #111111 0%, rgba(17, 17, 17, 0) 100%),
    url('../images/Rectangle\ 6.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.slide-1{
    background: linear-gradient(180deg, #111111 0%, rgba(17, 17, 17, 0) 100%),
    url('../images/lady-justice-law-library-concept.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.slide-2{
    background: linear-gradient(180deg, #111111 0%, rgba(17, 17, 17, 0) 100%),
    url('../images/law-justice-concept-dark-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.slide-3{
    background: linear-gradient(180deg, #111111 0%, rgba(17, 17, 17, 0) 100%),
    url('../images/judges-gavel-scale-justice-black-table.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}